h1 { 
<<<<<<< HEAD
    color: yellow;
    background-color: aqua;
=======
    color: red;
    background-color: brown;
>>>>>>> feature_1
} 
p { 
    color:blue;  
}

table { 
    background-color: lightblue; 
} 